*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(80, 75, 75);
    height: auto;
    width: 100%;
    display: flex;
    position: fixed;
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 8px;
}
#schname{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 12px 0px 0px 20px;
    width: 400px;
    color: thistle;
}
#contact{
    margin: 5px 0px 0px 100px;
    display:grid;
    font-size: 1.2rem;
}
#contact a{
    color: thistle;
    text-decoration: none;
    margin: 5px 0px;
}
#icon{
    color: rgb(27, 28, 27);
}
#navlinks{
    display: flex;
    margin: 20px 0px 0px 130px;
    gap: 18px;
    font-size: 1.7rem;
}
#navlinks a{
    color: thistle;
    text-decoration: none;
}
#navlinks a:hover, #icons:hover{
    color:rgb(8, 186, 88);
    text-decoration: underline;
}
.about{
    padding: 100px 80px 0px 80px;
}
.about h2{
    font-size: 1.9rem;
}
.about p{
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 20px;
}
.foot{
    display:none;
    margin-top: 20px;
    background-color:  rgb(49, 49, 81);
    justify-content: space-evenly;
}
#school{
    width: 30%;
}
#school h2, #academic h2, #information h2, #enquery h2 {
    font-size: 2rem;
    color: white;
    margin-top: 70px;
}
#school p, #enquery p{
    color: white;
    margin-top:30px;
    font-size: 1.2rem;
}
#school h3{
    color: white;
    margin-top: 60px;
    font-size: 1.2rem;
}
#follow{
    font-size: 2rem;
    color:red;
    margin-left: 20px;
    margin-bottom: 20px;
}
#academic ul, #information ul{
    margin-top: 20px;
    color: white;
}
#academic li, #information li{
    margin-top: 10px;
}
#academic a, #information a, #enquery a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
#academic a:hover, #information a:hover, #enquery a:hover{
    color: orangered;
}





 /* mobile site */
@media (min-width: 00px) and (max-width: 768px){
     .nav{
        flex-wrap: wrap;
    }
    #logo{
        width: 8%;
        height: 8%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 400px;
        text-align: center;
    }
    .nav #contact{
        display: flex;
        gap:50px;
        font-size: .9rem;
        margin-left: 100px;
        width: 100%;
    }
    .nav #navlinks{
        margin: 10px 0px 10px 50px;
        font-size: 1.2rem;
    }
    .about{
        margin-bottom: 50px;
    }
    .about h2{
        padding: 40px 0px 0px 0px;
        width: 400px;
        margin: 0px 0px 0px 0px ;
    }
    .about p{
        width: 400px;
    }
    .foot{
        width:600px;
        flex-direction: column;
       
        margin-top: 0px;
    }
    #school{
        margin: 20px 50px 0px 150px;
        width: 400px;
        font-size: .8rem;
       
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: 20px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: 20px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: 20px 50px 50px 200px;
        width: 400px;
        text-align: justify;
}
} 

















/* desktop site */
@media (min-width: 769px) and (max-width: 1024px){
       .nav{
        display: flex;
    }
    #logo{
        width: 4%;
        height: 4%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 450px;
        text-align: center;
    }
    .nav #contact{
        display: grid;
        gap:10px;
        font-size: .9rem;
        margin-left: 50px;
        width: auto;
    }
    .nav #navlinks{
        margin: 25px 0px 10px 70px;
        font-size: 1.2rem;
    }
    .about{
        width: 1200px;
        padding-top: 200px;
    }
    .about h2{
        font-size: 1.6rem;
    }
    .about p{
        font-size: 1.3rem;
        text-align: justify;
        width: 1200px;
        row-gap: 30px;
    }
    
    .foot{
        width:1370px;
        flex-direction:row;
        margin-top: 1250px;
    }
    #school{
        margin: 20px 50px 0px 50px;
        width: 300px;
        font-size: .8rem;
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: 20px 10px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: 20px 10px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: 20px 10px 50px 30px;
        width: 400px;
        text-align: justify;
}
}