*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(80, 75, 75);
    height: auto;
    width: 100%;
    display: flex;
    position: fixed;
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 8px;
}
#schname{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 12px 0px 0px 20px;
    width: 400px;
    color: thistle;
}
#contact{
    margin: 5px 0px 0px 100px;
    display:grid;
    font-size: 1.2rem;
}
#contact a{
    color:thistle;
    text-decoration: none;
    margin: 5px 0px;
}
#icon{
    color: rgb(27, 28, 27);
}
#navlinks{
    display: flex;
    margin: 20px 0px 0px 130px;
    gap: 18px;
    font-size: 1.7rem;
}
#navlinks a{
    color: thistle;
    text-decoration: none;
}
#navlinks a:hover, #icons:hover{
    color:rgb(8, 186, 88);
    text-decoration: underline;
}
#notice{
    padding:70px 0px 0px 0px ;
    display: flex;
    position: relative;
    z-index: -1;
}
#notice h2{
    font-size: 1.2rem;
    width: 170px;
    background-color: red;
    padding: 2px 20px;
}
#notice marquee{
    background-color: blue;
    font-size: 1.2rem;
    color: white;
}
.addmission{
    display: flex;
    padding:30px 90px 0px 90px ;
    gap: 90px;
}
.addmission #process, .addmission #documents, .addmission #dates{
    width: 50%;
    height: 50vh;
    display: block;
}
.addmission #process h3, .addmission #documents h3, .addmission #dates h3{
    font-size: 1.8rem;
}
.addmission #process li, .addmission #documents li, .addmission #dates li{
    margin: 10px 0px 0px 50px;
    font-size: 1.2rem;
}
.butt{
    display: flex;
    gap: 320px;
    margin: -100px 0px 0px 650px;
}
.butt #form button{
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: white;
    transition: 0.5s;
}
.butt #form button:hover{
    background-color: green;
}
.foot{
    display:none;
    margin-top: 80px;
    background-color: rgb(49, 49, 81);
    justify-content: space-evenly;
}
#school{
    width: 30%;
}
#school h2, #academic h2, #information h2, #enquery h2 {
    font-size: 2rem;
    color: white;
    margin-top: 70px;
}
#school p, #enquery p{
    color: white;
    margin-top:30px;
    font-size: 1.2rem;
}
#school h3{
    color: white;
    margin-top: 60px;
    font-size: 1.2rem;
}
#follow{
    font-size: 2rem;
    color:red;
    margin-left: 20px;
    margin-bottom: 20px;
}
#academic ul, #information ul{
    margin-top: 20px;
    color: white;
}
#academic li, #information li{
    margin-top: 10px;
}
#academic a, #information a, #enquery a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
#academic a:hover, #information a:hover, #enquery a:hover{
    color: orangered;
}















/* mobile site */
@media (min-width: 00px) and (max-width: 768px){
     .nav{
        flex-wrap: wrap;
    }
    #logo{
        width: 8%;
        height: 8%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 400px;
        text-align: center;
    }
    .nav #contact{
        display: flex;
        gap:50px;
        font-size: .9rem;
        margin-left: 100px;
        width: 100%;
    }
    .nav #navlinks{
        margin: 10px 0px 10px 50px;
        font-size: 1.2rem;
    }
    #notice {
        padding: 150px 0px 0px 0px;
        width: 640px;
    }
    #notice h2{
        width: 210px;
        font-size: 1.1rem;
    }
    #notice #marq{
         padding-top: 5px;
         font-size: 1.1rem;
    }
    .addmission{
        flex-direction: column;
    }
    #process h3{
        width: 300px;
        margin-left: -50px;
        margin-right: 0px;
    }
    #process li{
        width: 400px;
        text-align: justify;
    }
    #documents h3 {
        width: 500px;
        margin: -80px 0px 0px -50px;
    }
    #documents li{
        width: 500px;
        text-align: justify;
    }
    #dates h3{
        width: 300px;
        margin: -280px 0px 0px -50px;
    }
    #dates li{
        width: 400px;
        text-align: justify;
    }
    .butt{
        flex-direction: column;
        gap: 50px;
        margin: -300px 0px 0px 200px;
        justify-content: center;
        align-items: center;
    }
    .foot{
        width:640px;
        margin-top: 100px;
        flex-direction: column;
        height: 170vh;
    }
    #school{
        margin: -180px 50px 0px 150px;
        width: 400px;
        font-size: .8rem;
       
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: -200px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: -200px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: -100px 50px 0px 200px;
        width: 400px;
        text-align: justify;
}
}








/* desktop site */
@media (min-width: 769px) and (max-width: 1024px){
       .nav{
        display: flex;
    }
    #logo{
        width: 4%;
        height: 4%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 450px;
        text-align: center;
    }
    .nav #contact{
        display: grid;
        gap:10px;
        font-size: .9rem;
        margin-left: 50px;
        width: auto;
    }
    .nav #navlinks{
        margin: 25px 0px 10px 70px;
        font-size: 1.2rem;
    }
    #notice{
        width: 1390px;
        padding: 80px 0px 0px 0px;
    }
    .addmission{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
    }
    #process li{
        width: 500px;
        padding: 10px;
    }
    #documents{
        margin-top: 580px;
        margin-left: -400px;
    }
    #documents li{
        width: 400px;
        padding: 10px;
        margin-top: -100px;
    }
    #dates{
        margin:0px 20px 0px-120px;
    }
    #dates li{
        width: 400px;
        padding: 10px;
        margin-top: -100px;
    }
    .butt{
        margin-top: -500px;
        width: 500px;
        display: grid;
    }
    #form{
        margin-left: -100px;
        width: 500px;
    }
    
    .foot{
        width:1370px;
        flex-direction:row;
        margin-top: 1250px;
    }
    #school{
        margin: 20px 50px 0px 50px;
        width: 300px;
        font-size: .8rem;
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: 20px 10px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: 20px 10px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: 20px 10px 50px 30px;
        width: 400px;
        text-align: justify;
}
}
