*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(80, 75, 75);
    height: auto;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#logo{
    width: 4%;
    height:4%;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 1%;
}
#schname{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1.2% 0% 0% 2%;
    width: 25%;
    color: thistle;
}
#contact{
    margin: 5px 0px 0px 100px;
    display:grid;
    font-size: 1.2rem;
    width: 15%;
}
#contact a{
    color:thistle;
    text-decoration: none;
    margin: 5px 0px;
}
#icon{
    color: rgb(27, 28, 27);
}
#navlinks{
    display: flex;
    margin: 20px 0px 0px 0px;
    gap: 18px;
    font-size: 1.7rem;
}
#navlinks a{
    color: thistle;
    text-decoration: none;
}
#navlinks a:hover, #icons:hover{
    color:rgb(8, 186, 88);
    text-decoration: underline;
}
.bigimage img{
    margin-left: 2px;
    width: 99%;
    height: 500px;
    border: 5px dashed black;
}
.new{
    display: flex;
    top: 2px;
    left: 1px;
    position: relative;
    z-index: -1;
}
#flash{
    text-align: right;
    font-size: 1.8rem;
    font-weight: bolder;
    width: 200px;
    background-color: red;
}
#marquee{
    background-color:blue;
    font-weight: bolder;
    font-size: 1.8rem; 
    color: white;
}
#gif{
    width: 30px;
}
.box{
    height: 58vh;
    width: 100%;
    display: none;
}
.box1{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    margin: 9px 0px 0px 220px;
    
}
#boxs1{
    width: 220px;
    height: 130px;
    background-color: rgb(63, 13, 13);
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 40px;
}
#boxs2{
    width: 220px;
    height: 130px;
    background-color: rgb(201, 14, 14);
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 40px;
}
#boxs3{
    width: 220px;
    height: 130px;
    background-color: rgb(179, 9, 88);
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 40px;
}
#boxs4{
    width: 220px;
    height: 130px;
    background-color: orange;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 40px;
}
#boxs1:hover, #boxs2:hover, #boxs3:hover, #boxs4:hover{
    height: 139px;
    border: 1px solid rgb(60, 58, 58);
}
.box2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 40px 0px 0px 220px;
}
#boxs5{
    width: 220px;
    height: 130px;
    background-color:rgb(5, 72, 72);
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
#boxs6{
    width: 220px;
    height: 130px;
    background-color:blueviolet;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
#boxs7{
    width: 220px;
    height: 130px;
    background-color: rgb(12, 89, 203);
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
#boxs8{
    width: 220px;
    height: 130px;
    background-color: green;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
#boxs5:hover, #boxs6:hover, #boxs7:hover, #boxs8:hover{
    height: 139px;
    border: 1px solid rgb(60, 58, 58); 
}
.box1 a, .box2 a{
    text-decoration: none;
    color: white;
}
.aboutnotice{
    background-color: rgb(247, 244, 244);
}
#about{
    width: 55%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 90px;
}
#about h1{
    color: rgb(2, 36, 87);  
}
#about p{
    margin-top: 20px;
}
#read{
    background-color: orangered;
    border-radius: 20px;
    width: 20%;
    padding: 5px;
    margin-top: 100px;
    border:none;
    transition: 0.5s;
}
#read a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
#notice{ 
    width: 25%;
    height: auto;
    margin-left: 100px;
    background-color:blue ;
    border-radius: 20px;
}
#notice h1{
    color: rgb(227, 229, 232);
    font-size: 2.9rem;
    height:auto ;
    margin: 19px 0px 0px 30px;
}
#notice #list{
    width: 80%;
    height: 120px;
    margin-left: 50px;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;;
}
#notice #list ul{
    margin-top: 15px;
    list-style: none;
    animation: up 7s infinite linear;
}
@keyframes up {
    from{
        transform: translateY(100%)
    }
    to{
        transform: translateY(-100%);
    }
}
#more{
    background-color: orangered;
    border-radius: 20px;
    width: 40%;
    padding: 5px 5px 5px 5px;
    margin:28% 0 0 10%;
    border: none;
    transition: 0.5s;
}
#more a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
}
#read:hover, #more:hover{
    background-color:green;
    cursor: pointer;
}
.people{
     display: none;
     justify-content: center;
     gap: 90px;
     margin-top: 100px;
}
#chairman, #director, #principal{
    border: 2px solid rgb(252, 248, 248);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 23.2%;
    border-radius: 15px;
}
#chairman img, #director img, #principal img{
    width: 99%;
    height: 220px;
}
#chairman h2, #director h2, #principal h2{
    text-align: center;
    margin-top: 10px;
}
#chairman p, #director p, #principal p{
    margin: 20px;
    font-size: 1.2rem;
    text-align: justify;
    color: rgb(51, 50, 49);
}
#chairman a, #director a, #principal a{
    text-decoration: none;
    font-size: 1.2rem;
    color:orangered;
    font-weight: bolder;
    margin: 20px 0px 0px 130px;
}
#chairman:hover, #director:hover, #principal:hover{
    transform: scale(1.1);
}
#chairman a:hover, #director a:hover, #principal a:hover{
    color: blue;
}
.infrastructure{
    margin-top: 50px;
    background-color: blue;
    height: 75vh;
    display: none;
}
 #ourschool h2{
      font-size:2.8rem;
      color: white;
      margin-left: 100px; 
 }
 #ourschool p{
     font-size:1.3rem;
      color: white;
      margin-left: 100px;
      margin-top: 20px; 
      width: 50%;
 }
 .facility{
    display: flex;
    justify-content: space-evenly;
 }
 #labs, #library, #sports, #music{
    background-color: white;
    width: 300px;
    height: auto;
    margin-top: 50px;
    border-radius: 5px;
 }
 #labs img, #library img, #sports img, #music img{
     width: 180px;
     height: 180px;
     margin: 20px 0px 0px 50px;
     border-radius: 50%;
 }
 #labs h2, #library h2, #sports h2, #music h2{
     font-weight: bold;
     color: blue;
     margin: 20px 0px 0px 35px;
 }
 #labs p, #library p, #sports p, #music p{
     font-size: 1.3rem;
     margin: 20px 0px 40px 20px;
     width: 260px;
 }
 #labs a, #library a, #sports a, #music a{
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 30px;
 }
 #labs:hover,#library:hover, #sports:hover, #music:hover{
    background-color:rgb(187, 184, 184);
    color: rgb(32, 30, 30);
 }
 #labs a:hover,#library a:hover, #sports a:hover, #music a:hover{
    color: white;
 }
 
 .foot{
    display:none;
    margin-top: 320px;
    background-color:  rgb(49, 49, 81); 
    justify-content: space-evenly;
 }
 #school{
    width: 30%;
 }
 #school h2, #academic h2, #information h2, #enquery h2 {
    font-size: 2rem;
    color: white;
    margin-top: 70px;
 }
 #school p, #enquery p{
    color: white;
    margin-top:30px;
    font-size: 1.2rem;
 }
 #school h3{
    color: white;
    margin-top: 60px;
    font-size: 1.2rem;
 }
 #follow{
    font-size: 2rem;
    color:red;
    margin-left: 20px;
    margin-bottom: 20px;
 }
 #academic ul, #information ul{
    margin-top: 20px;
    color: white;
 }
 #academic li, #information li{
    margin-top: 10px;
 }
 #academic a, #information a, #enquery a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
 }
 #academic a:hover, #information a:hover, #enquery a:hover{
    color: orangered;
 }























 /* Mobile site */
@media (min-width: 00px) and (max-width: 768px){
    .nav{
        flex-wrap: wrap;
    }
    #logo{
        width: 8%;
        height: 8%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 400px;
        text-align: center;
    }
    .nav #contact{
        display: flex;
        gap:50px;
        font-size: .9rem;
        margin-left: 100px;
        width: 100%;
    }
    .nav #navlinks{
        margin: 10px 0px 10px 50px;
        font-size: 1.2rem;
    }
    .bigimage{
        width: 160%;
        padding-top: 50px;
    }
    .new{
        width: 160%;
    }
    .new #flash{
        font-size: 1rem;
        width: auto;
        padding: 2px 20px 0px 0px;
    }
    #marquee{
        font-size: 1rem;
        color:white
    }
    .box1, .box2{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px;
    }
    .aboutnotice{
        flex-direction: column;
        margin: 380px 0px 0px 0px;
        background-color: rgb(205, 203, 201);
        width: 160%;
    }
    .aboutnotice #about {
        margin-left: 145px;
    }
    .aboutnotice #about h1{
        padding-top: 20px;
        font-size: 1.8rem;
    }
    .aboutnotice #about p{
        font-size: 1.1rem;
        text-align: justify;
        font-weight: normal;
    }
    .aboutnotice #about #read{
        width: 150px;
        border: none;
        margin: 20px 0px 0px 90px;
    }
    .aboutnotice #about #read a{
        font-size: .9rem;
    }
    .aboutnotice #notice{
        width: 400px;
        margin: 20px 0px 20px 100px;
    }
    .aboutnotice #notice #more{
        border: none;
        margin-left: 150px;
    }
     .aboutnotice #notice #more a{
        font-size: .9rem;
     }
    .people{
        flex-direction: column;
        margin-left: 120px;
    }
    #chairman, #director, #principal{
        width: 400px;
        margin-bottom: 20px;
    }
    .infrastructure{
        margin:80px 0px 0px 120px;
        width: 350px;
        border-radius: 8px;
        background-color: white;
    }
    .infrastructure #ourschool h2{
        font-size: 1.3rem;
        margin-left: 70px;
        color: black;
    }
    .infrastructure #ourschool p{
        text-align: justify;
        font-size: 1.2rem;
        color: black;
        width: 400px;
        margin-left: 0px;
    }
    .infrastructure .facility{
        flex-direction: column;
        margin-left: 30px;
    }
    .infrastructure .facility #labs, .infrastructure .facility #library, .infrastructure .facility #sports, .infrastructure .facility #music{
        border: 1px solid rgb(109, 107, 105);
        border-radius: 8px;
    }
    .infrastructure #labs p, .infrastructure #library p, .infrastructure #sports p, .infrastructure #music p{
        text-align: justify;
    }
    
    .foot{
        width:600px;
        flex-direction: column;
        margin-top: 2200px;
    }
    #school{
        margin: 20px 50px 0px 150px;
        width: 400px;
        font-size: .8rem;
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: 20px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: 20px 50px 0px 200px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: 20px 50px 50px 200px;
        width: 400px;
        text-align: justify;
}
}



















/* desktop site */

@media (min-width: 769px) and (max-width: 1024px){
    .nav{
        display: flex;
    }
    #logo{
        width: 4%;
        height: 4%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 450px;
        text-align: center;
    }
    .nav #contact{
        display: grid;
        gap:10px;
        font-size: .9rem;
        margin-left: 50px;
        width: auto;
    }
    .nav #navlinks{
        margin: 25px 0px 10px 90px;
        font-size: 1.2rem;
    }
    .bigimage{
        width: 160%;
        padding-top: 50px;
    }
    .new{
        width: 160%;
    }
    .new #flash{
        font-size: 1rem;
        width: 300px;
        padding: 2px 20px 0px 0px;
    }
    #marquee{
        font-size: 1rem;
        color:white
    }
    .box1, .box2{
        grid-template-columns: repeat(4, 1fr);
        margin-left: 350px;
    }
    .aboutnotice{
        flex-direction:row;
        margin: -820px 0px 0px 0px;
        background-color: rgb(205, 203, 201);
        width: 160%;
    }
    .aboutnotice #about {
        margin-left: 145px;
    }
    .aboutnotice #about h1{
        padding-top: 20px;
        font-size: 1.8rem;
    }
    .aboutnotice #about p{
        font-size: 1.1rem;
        text-align: justify;
        font-weight: normal;
    }
    .aboutnotice #about #read{
        width: 150px;
        border: none;
        margin: 20px 0px 0px 90px;
    }
    .aboutnotice #about #read a{
        font-size: .9rem;
    }
    .aboutnotice #notice{
        width: 400px;
        margin: 20px 0px 20px 100px;
    }
    .aboutnotice #notice #more{
        border: none;
        margin-left: 150px;
    }
     .aboutnotice #notice #more a{
        font-size: .9rem;
     }
    .people{
        flex-direction:row;
        margin-left: 220px;
        width: 1000px;
    }
    #chairman, #director, #principal{
        width: 1200px;
        margin-bottom: 20px;
    }
    .infrastructure{
        margin:80px 0px 0px 150px;
        width: 350px;
        border-radius: 8px;
        background-color: white;
    }
    .infrastructure #ourschool {
         margin:80px 0px 0px 480px;
    }
    .infrastructure #ourschool h2{
        font-size: 1.3rem;
        width: 100%;
        margin-left: 70px;
        color: black;
    }
    .infrastructure #ourschool p{
        text-align: justify;
        font-size: 1.2rem;
        color: black;
        width: 400px;
        margin-left: 0px;
    }
    .infrastructure .facility{
        display: flex;
        gap: 50px;
    }
    .infrastructure .facility #labs, .infrastructure .facility #library, .infrastructure .facility #sports, .infrastructure .facility #music{
        border: 1px solid rgb(109, 107, 105);
        border-radius: 8px;
    }
    .infrastructure #labs p, .infrastructure #library p, .infrastructure #sports p, .infrastructure #music p{
        text-align: justify;
    }
    
    .foot{
        width:2000px;
        flex-direction:row;
        margin-top: -550px;
    }
    #school{
        margin: 20px 50px 0px 50px;
        width: 400px;
        font-size: .8rem;
    }
    #school h3{
        margin-top: 0px;
    }
    #academic{
        margin: 20px 50px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #information{
         margin: 20px 50px 0px 30px;
        width: 400px;
        text-align: justify;
    }
    #enquery{
         margin: 20px 50px 50px 30px;
        width: 400px;
        text-align: justify;
}
}





































































