*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(80, 75, 75);
    height: auto;
    width: 100%;
    display: flex;
    position: fixed;
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 8px;
}
#schname{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 12px 0px 0px 20px;
    width: 400px;
    color: thistle;
}
#contact{
    margin: 5px 0px 0px 100px;
    display:grid;
    font-size: 1.2rem;
}
#contact a{
    color: thistle;
    text-decoration: none;
    margin: 5px 0px;
}
#icon{
    color: rgb(27, 28, 27);
}
#navlinks{
    display: flex;
    margin: 20px 0px 0px 130px;
    gap: 18px;
    font-size: 1.7rem;
}
#navlinks a{
    color: thistle;
    text-decoration: none;
}
#navlinks a:hover, #icons:hover{
    color:rgb(8, 186, 88);
    text-decoration: underline;
}
.view{
    padding: 130px 0px 0px 120px
}
.view h2{
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: #4a90e2;
    text-align: center;
}
#notice{
    display: grid;
    justify-content: center;
    align-items: center;
}
#list{
    display: flex;
    box-shadow: 5px 5px 5px rgb(206, 204, 204);
    border-radius: 5px;
    width: auto;
    padding: 18px;
}
#list span{
    background-color:#4a90e2;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    margin-right: 20px;
    width: 80px;
    text-align: center;
}
#list p{
    font-size: 1.2rem;
    color: rgb(27, 28, 27);
    padding-top: 12px;
}
footer{
    color:black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}













 /* mobile site */
@media (min-width: 00px) and (max-width: 768px){
     .nav{
        flex-wrap: wrap;
    }
    #logo{
        width: 8%;
        height: 8%;
        margin: 10px 0px 0px 5px;
    }
     #schname{
        width: 200px;
        text-align: center;
    }
    .nav #contact{
        display: flex;
        gap:50px;
        font-size: .9rem;
        margin-left: 100px;
        width: 100%;
    }
    .nav #navlinks{
        margin: 10px 0px 10px 30px;
        font-size: 1.2rem;
    }
    .view{
        padding: 300px 0px 0px 20px;
    }
    .view h2{
        width: 500px;
    }
    #notice{
        width: 1500px;
    }

}







/* desktop site */
@media (min-width: 769px) and (max-width: 1024px){
       .nav{
        display: flex;
    }
    #logo{
        width: 4%;
        height: 4%;
        margin: 10px 0px 0px 50px;
    }
     #schname{
        width: 450px;
        text-align: center;
    }
    .nav #contact{
        display: grid;
        gap:10px;
        font-size: .9rem;
        margin-left: 50px;
        width: auto;
    }
    .nav #navlinks{
        margin: 25px 0px 10px 70px;
        font-size: 1.2rem;
    }
    .view{
        padding: 150px 0px 0px 50px;
    }

}